<%- include("header") -%>
<h2>About Us </h1>

<h3>Swapnil Sardeshmukh</h3>
<p>This is Todo List app use by EJS in this i have learned to represent a single html page as multiple pages(Todaydate, Worklist) no extra coding
  and also to include header footer and also extra html page which is completely different(This about page).</p>
<%- include("footer") -%>
